

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 120px); /* fixed width for cards */
    gap: 20px;                               /* space between cards */
    justify-content: center; /* horizontally center the grid */
    
}

 .indexCard {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 120px;
    width: 120px;
    background-color: #769382;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    position: fixed;    /* fixes it relative to the viewport */
    bottom: 0;          /* sticks to bottom */
    left: 0;            /* align to left */
    width: 100%;        /* full width */
    height: 60px;       /* adjust as needed */
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; /* optional */
    z-index: 1000;      /* make sure it’s on top of other content */
}