

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 120px); 
    gap: 20px;                               
    justify-content: center; 
    
}
#plussbtn{
    font-size: 70px;
}
 .indexCard {
    display: flex;
    justify-content: center;
    align-items: center;      
    height: 120px;
    width: 120px;
    background-color: #769382;
    border-radius: 15px;
    
}

.nav-bar {
    position: fixed;    
    bottom: 0;          
    left: 0;         
    width: 100%;        
    height: 60px;       
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; /* optional */
    z-index: 1000;   
    font-size: xx-large;   /* make sure it’s on top of other content */
}

.symptoms {
  list-style: none;
  padding: 0;
}

.symptoms li {
  margin-bottom: 10px;
  background-color: #769382;
  
}

/* Hide checkbox */
.symptoms input {
  display: none;
}

/* Clickable label */
.symptoms label {
  cursor: pointer;
  font-weight: bold;
  display: block;
}

/* Hidden content */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #333;
  
}

/* Show when checked */
.symptoms input:checked + label + .content {
  max-height: 900px; /* adjust if needed */
}

.pBold{
    font-weight: bold;
}

.pLink{
    color: blue;
    text-decoration: underline;
}
.pImportant{
    font-weight: bold;
    color: red;
}
